---
Checks: '-*,modernize-*,-modernize-use-trailing-return-type,clang-analyzer-*,bugprone-*,cppcoreguidelines-*,misc-*,performance-*,readability-*'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ''
FormatStyle: none
SystemHeaders: false
CheckOptions:
  - key: readability-identifier-length.MinIdentifierLength
    value: '1'         # Minimum length for any identifier (e.g., "i" would fail)
